.navigationContainer{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
}

.logoContainer span{
    color: #6E06F2;
}

.navLinks{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navigationContainer a{
    transition: all 0.5s;
}

.navigationContainer a:hover{
    color: #6E06F2;
}