@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  font-family: "Outfit", sans-serif;
  padding: 0 4%;
}

a{
  text-decoration: none;
  color: inherit;
}

.mainColor{
  color: #6E06F2;
}


